.fisrtbox{
    display: flex;
    background-color: rgb(236, 236, 236);
    flex-direction: column;
    align-items: center;
    width: auto;
}
.first_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 700px;
    width: 100%;
    justify-content: space-evenly;
}
.page_2nd{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: 1400px;
    width: 110%;
    justify-content: space-evenly;
}
.Phrases{
    font-size:70px;
    font-;
}
.sub_title{
    font-size: 70px;
}
.string{
    color: rgb(9, 9, 68);
    font-size: large;
}
.x_string{
    color: rgb(9, 9, 68);
    font-size: xx-large;
}
img{
    width: 300px;
}
.fixed{ 
    top: 0px;
    position: sticky;
    display: flex;
    width: 110%;
    height: 40px;
    background-color: rgb(10, 0, 34);
    justify-content: space-evenly;
    align-items: center;
}
.menu{
    color: whitesmoke;
}
.image_box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.title{
    width: 100%;
    background-color: white;
}

a:link {
    color : whitesmoke;
    text-decoration: none;
  }
  a:visited {
    color : whitesmoke;
    text-decoration: none;
  }
  a:hover {
    color : rgb(190, 188, 188);
    text-decoration: none;
  }
  a:active {
    color : whitesmoke;
    text-decoration: none;
  }